<form
  class="add-form"
  (ngSubmit)="onSubmit()"
  *ngIf="showAddTask"
>
  <div class="form-control">
    <label for="text">Task</label>
    <input
      type="text"
      name="text"
      [(ngModel)]="text"
      id="text"
      placeholder="Add Task"
    />
  </div>
  <div class="form-control">
    <label for="day">Day</label>
    <input
      type="datetime-local"
      name="day"
      [(ngModel)]="day"
      id="day"
      placeholder="Set Day"
    />
  </div>
  <div class="form-control">
    <label for="text">Comment</label>
    <input
      type="text"
      name="comment"
      [(ngModel)]="comment"
      id="comment"
      placeholder="Add Comment"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set reminder</label>
    <input
      type="checkbox"
      name="reminder"
      [(ngModel)]="reminder"
      id="reminder"
    />
  </div>
  <input type="submit" value="Save task" class="btn btn-block">
</form>

<!-- 2way data binding requires attrib name of the same value as value of ng model -->
